<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My First List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini color ="UTNFRA" (click)="nuevoUsuario($event)"><ion-icon name="add"  ></ion-icon></button>
    
  </ion-fab>
  <ion-list>
      <ion-list-header side="right">
        Usuarios
         <ion-note item-end>
            Usuarios
          </ion-note>
      </ion-list-header>
      <ion-item-sliding  *ngFor=" let usuario of ListadoDeUsuarios " #itemsliding>
        <ion-item (click)="mostrarUsuario($event, usuario) " >
          <ion-avatar item-start>
            <img [src]="usuario.foto">
          </ion-avatar>
         
            <h2>{{usuario.nombre}}</h2>
            <p>pefil: {{usuario.perfil}}</p>        
            <ion-note item-end>
            {{usuario.estado}}
            </ion-note>
          
        </ion-item>
          <ion-item-options side="left" (ionSwipe)="bloquear(itemsliding)">
        <button ion-button color="primary" expandable (click)="bloquear(itemsliding)">
          <ion-icon name="eye-off" class="expand-hide"></ion-icon>
          <div class="expand-hide">Bloquear</div>
          <ion-spinner id="archive-spinner"></ion-spinner>
        </button>
      </ion-item-options>

        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="activar(itemsliding)">
            <ion-icon name="thumbs-up"></ion-icon>
            Activar
          </button>
          <button ion-button color="dark" (click)="silenciar(itemsliding)">
            <ion-icon name="volume-off"></ion-icon>
            Silenciar
          </button>
          <button ion-button color="danger" (click)="borrar(itemsliding)">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>
        </ion-item-options>
      </ion-item-sliding>   
  </ion-list>
</ion-content>
