<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   <button ion-button color="UTNFRACmp" navPop >volver al listado</button>

  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.nombre}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>
  <h4 text-center *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.clave}}</b>
  </h4>

  <ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img  [src]="usuario.foto" >
    </ion-avatar>
      <h2>{{usuario.nombre}}</h2>
      <p>pefil: {{usuario.perfil}}</p>  
      <ion-note item-end>
            {{usuario.estado}}
      </ion-note>
  </ion-item>

  <img [src]="usuario.foto" hideWhen="landscape" >

  <ion-card-content>
    <ion-list>

      <ion-item>
        <ion-label dark stacked>Username</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label dark stacked>Estado</ion-label>
        
        <ion-select [(ngModel)]="usuario.estado">
          <ion-option value="activo">Activo</ion-option>
          <ion-option value="bloqueado">bloqueado</ion-option>
          <ion-option value="borrado">Borrado</ion-option>
          <ion-option value="silenciado">Silenciado</ion-option>
         
        </ion-select>
      </ion-item>
        <ion-item>
        <ion-label stacked>Perfil</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.perfil"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.clave"></ion-input>
      </ion-item>

    </ion-list>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div> {{usuario.estado}}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>ID: {{usuario.id}}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>
</ion-content>
