// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*
se movio a los archivos de tema
 ion-content {
    @include linear-gradient(left,$green-and-blue);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

ion-list-header
{
    @include linear-gradient(right,$visions-of-grandeur);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  ion-item {
    @include linear-gradient(left,$visions-of-grandeur);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
 ion-list button 
  {
    @include linear-gradient(right,$green-and-blue);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  
  h1{
      font-size: 2.0rem;

  }
  */