<ion-menu [content]="content"  class="tema-profesional tema-menu-principal">

  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-list>
      <button   ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content color="UTNFRA" [class]="temaActual" swipeBackEnabled="false"></ion-nav>
