<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>configuracion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <button ion-button full icon-left (click)="cambiarTema('tema-sandro')">
    <ion-icon name="color-palette"></ion-icon>
   Sandro
  </button>
   <button ion-button full icon-left (click)="cambiarTema('tema-profesional')">
    <ion-icon name="color-palette"></ion-icon>
   Profesional
  </button>
   <button ion-button full icon-left (click)="cambiarTema('tema-lima-limon')">
    <ion-icon name="color-palette"></ion-icon>
   Lima limon
  </button>
  <br>
   <br>
    <br>
     <br>
      <br>
   <button ion-button full icon-left (click)="rotarTema()">
    <ion-icon name="color-palette"></ion-icon>
  Ratación
  </button>
</ion-content>
